
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


:root{
    --primary-color: #c026d3;
}

body{
    font-family: 'Montserrat', sans-serif;
}

textarea{
    width:30%;
    height: 10vh;
    display: block;


    margin-top: 3rem;
    margin-left:30rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    

   }

   #output{
     
     border: 1px solid black;
     width: 30%;
     height:10vh;
     margin-left:30rem;
     padding: 1rem;
     font-family: 'Montserrat', sans-serif;
     font-size: larger;
     

   }

   .navigation{
    background-color: var(--primary-color);

    height:60px;
    color:white;
    padding: 1rem;
    text-align: center;
    font-size: xx-large;
  
   
    
    
}




#btn-translate{
    margin-top: 2rem;
    margin-left:30rem;
    margin-bottom: 1rem;
    font-size: x-large;
    width:20%;
    height: 10vh;
    color: white;
    background-color: var(--primary-color);
}
.output-header{
    margin-left:30rem;
    padding: 1rem;
}

.footer{
    background-color: var(--primary-color);
    padding:3rem;
    color: white;
    text-align: center;
    margin-top: 4rem;
    font-size: x-large;
    justify-content: center;
    
}

