
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


:root{
    --primary-color: red;
}

body{
    font-family: 'Montserrat', sans-serif;
}

textarea{
    width:30%;
    height: 10vh;
    display: block;


    margin-top: 3rem;
    margin-left:45rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    

   }

   #output{
     
     border: 1px solid black;
     width: 30%;
     height:10vh;
     margin-left:45rem;
     padding: 1rem;
     font-family: 'Montserrat', sans-serif;
     font-size: larger;
     

   }

   .navigation{
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    text-align: center;
    font-size: larger;
    
    
}



#btn-translate{
    margin-top: 2rem;
    margin-left:60rem;
    margin-bottom: 2rem;
    font-size: x-large;
}


